# Copy this file to .env and fill in the values
# Never commit .env to version control

POSTGRES_DB=auth
POSTGRES_USER=authu
POSTGRES_PASSWORD=authdb

ASPNETCORE_ENVIRONMENT=Production

ConnectionStrings__DefaultConnection=Ho

AppSettings__BaseUrl=http://localhost:5000
AppSettings__FrontendUrl=http://localhost:5500

JwtSettings__SecretKey=my-super-secret-key-at-least-32-characters

EmailSettings__SmtpServer = smtp.gmail.com
EmailSettings__Port = 587
EmailSettings__SenderName = Album App
EmailSettings__SenderEmail = 
EmailSettings__Username = 
EmailSettings__Password = xyto ch

GoogleOAuth__ClientId=9440
GoogleOAuth__ClientSecret=GOCSPX-

GitHubOAuth__ClientId=Ov2
GitHubOAuth__ClientSecret=57c0459